@model Portal.ViewModels.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
				<div class="large-12 columns">

            		<div class="content">

                    	<div class="singletop">
                            <div class="search">
                                <form method="get" action="#">
									<input id="s" type="text" value="Search" name="s">
                                </form>	
                            </div>
                            <nav class="breadcrumbs">
                              <a href="/">Главная</a>                              
                              <a class="current" href="#">Привязка учетной записи к @ViewBag.LoginProvider</a>
                            </nav>
                        </div>
                        
                        <div class="homeposttitle">
                            <h3 class="widget-title">
                                <span>
                            			Привязка учетной записи к @ViewBag.LoginProvider
                                </span>
                            </h3>  
                        </div>
                        
               	  <div class="large-5 columns"> 

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.LoginProvider)

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        Вы успешно авторизовались с помощью социальной сети <strong>@ViewBag.LoginProvider</strong>
        
        Пожалуйста заполните поля профиля пользователя, для последующего использования в заявочных формах сайта. 
        Эти данные вы можете указать в любое время, в вашем профиле.
    </p>
    <label for="name">Имя пользователя</label>
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.UserName)

    <label for="firstName">Имя</label>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FirstName)

    <label for="lastName">Фамилия</label>
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.LastName)

    <label for="birthDate">Дата рождения</label>
    @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.BirthDate)

    <label for="location">Город, страна</label>
    @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Location)

    <label for="phone">Телефон</label>
    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Phone)

    <label for="email">E-mail</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Email)

    <label for="address">Адрес</label>
    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Address)
    
    <label for="passport">Паспортные данные</label>
    @Html.TextBoxFor(m => m.Passport, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Passport)
    
    <input type="submit" name="submit" id="submit" class="button small" value="Регистрация" />
}
</div>
                    <div class="large-7 columns">
                        <p>В соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» даю своё согласие МОО «Автомобильная Федерация Санкт-Петербурга и Ленинградской области» на обработку, в том числе автоматизированную, моих персональных данных, указанных в настоящем Обращении, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, блокирование, уничтожение моих персональных данных, в целях действий по учету моей спортивной деятельности. Согласие предоставляется с момента регистрации в системе и действительно в течение пяти лет. По истечении указанного срока действие согласия считается продлённым на каждые следующие пять лет при отсутствии сведений о его письменном отзыве.</p>
                    </div>
            </div>
    </div>
</div>