@model IEnumerable<Portal.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Admin.cshtml";
}
<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb breadcrumb-top">
        <li>
            <a href="/"><i class="glyphicon-display"></i></a> <span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li>
            <a href="/controlpanel">Панель управления</a> <span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li><a href="">Календарь</a></li>
    </ul>
    <!-- END Breadcrumb -->
    <div class="block-section">
        @Html.ActionLink("Добавить", "Create", null, new { @class="btn"})
        <table class="table">
            <thead>
                <tr>                                        
                    <th class="span2 text-center">Дата старта</th>
                    <th class="span2 text-center">Дата окончания</th>
                    <th class="span4">Наименование</th>
                    <th class="span2">Сезон</th>                                        
                    <th class="span1 text-center"><i class="icon-bolt"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(e=>e.Season).ThenBy(e=>e.FinishDate).ThenBy(e=>e.StartDate)) {                    
                        <tr>
                            <td class="span2 text-center">
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td class="span2 text-center">
                                @Html.DisplayFor(modelItem => item.FinishDate)
                            </td>
                            <td class="span4">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="span2">
                                @Html.DisplayFor(modelItem => item.Season)
                            </td>        
                            <td class="span1 text-center">
                                <div class="btn-group">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" data-toggle="tooltip" title="Изменить" class="btn btn-mini btn-success"><i class="icon-pencil"></i></a>
                                    <a href="@Url.Action("Promote", new { id = item.Id })" data-toggle="tooltip" title="Поменять тип" class="btn btn-mini btn-success"><i class="icon-code-fork"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" data-toggle="tooltip" title="Удалить" class="btn btn-mini btn-danger"><i class="icon-remove"></i></a>
                                </div>                                
                            </td>
                        </tr>                    
                }
            </tbody>
        </table>        
        @Html.ActionLink("Добавить", "Create", null, new { @class="btn"})
    </div>
</div>

