@model Portal.ViewModels.ProgramDetailsViewModel
@{
    ViewBag.Title = "CommingSoon";
    Layout = "~/Views/Fortuna/Shared/_Default.cshtml";
}

 <div id="breadcrumbs_bg">
    <div id="breadcrumbs_m">
        <div id="breadcrumbs">
              <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/program">Программа</a></li>
                
                <li>@Model.Name</li>
                
              </ul>
              
                <h1><span class="fl">@Html.Raw(Model.Name.Substring(0,1))</span>@Html.Raw(Model.Name.Substring(1))</h1>
                    
        </div>
    </div>
</div>        


        
<div id="content_t"></div>
<div id="content_spot_t">
<div id="content_spot_b">
<div id="content" class="section">




<div class="cols">    
         <h1><span class="fl">@Html.Raw(Model.Name.Substring(0,1))</span>@Html.Raw(Model.Name.Substring(1))</h1>
         <img src="@Html.Raw(Model.Logo)" alt="" />
         <p></p>
         @Html.Raw(Model.Description)
        
        
        
</div>    

      
</div>
</div>
</div>



