@model IEnumerable<Portal.ViewModels.Translation.TargetViewModel>
@using Portal.Helpers;
@{        
    ViewBag.HideSidebar = true;

    Portal.Models.OfficialEvent ev = (Portal.Models.OfficialEvent)ViewBag.Event;
    List<Portal.ViewModels.Translation.StageHeaderViewModel> headers = (List<Portal.ViewModels.Translation.StageHeaderViewModel>)ViewBag.Headers;
    Portal.Models.SubEvent sEv = (Portal.Models.SubEvent)ViewBag.SubEvent;
    string group = (string)ViewBag.Group;
    List<string> groups = (List<string>)ViewBag.Groups;
}
                        
                        <div class="homeposttitle">
                            <h3 class="widget-title">
                                <span>
                            			Назначенное время на "@ViewBag.Title"  @(!string.IsNullOrWhiteSpace(group)?" Зачет "+ group:"")
                                </span>
                            </h3>  
                        </div>
                                
                        <p>
                            @if (ev.Season == 2014)
                             {
                                 if(string.IsNullOrWhiteSpace(group)) {
                                    <a href="~/timeline/@ev.Slug/Orders/@sEv.Series.Slug" class="button">Заявленные экипажи</a>                                                                      
                                 } else {
                                    <a href="~/timeline/@ev.Slug/Orders/@sEv.Series.Slug?group=@group" class="button">Заявленные экипажи</a>                                                                      
                                 }
                             } else {
                                 if(string.IsNullOrWhiteSpace(group)) {
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Orders/@sEv.Series.Slug" class="button">Заявленные экипажи</a>                                                                  
                                 } else {
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Orders/@sEv.Series.Slug?group=@group" class="button">Заявленные экипажи</a>                                                                                                      
                                 }
                             }

                            @foreach(var stage in headers) {
                                if (stage.Name == ViewBag.Title)
                                {
                                    <a class="button secondary">@stage.Name</a>                                  
                                } else {
                                  if (ev.Season == 2014)
                                  {
                                      if(string.IsNullOrWhiteSpace(group)) {
                                          <a href="~/timeline/@ev.Slug/@(stage.IsTarget?"Target":"Stage")/@sEv.Series.Slug/@stage.Name" class="button">@stage.Name</a>                                  
                                      } else {
                                          <a href="~/timeline/@ev.Slug/@(stage.IsTarget?"Target":"Stage")/@sEv.Series.Slug/@stage.Name?group=@group" class="button">@stage.Name</a>                                  
                                      }
                                  } else {
                                      if(string.IsNullOrWhiteSpace(group)) {
                                        <a href="~/timeline/@ev.Season/@ev.Slug/@(stage.IsTarget?"Target":"Stage")/@sEv.Series.Slug/@stage.Name" class="button">@stage.Name</a>                                                                  
                                      }
                                      else {
                                        <a href="~/timeline/@ev.Season/@ev.Slug/@(stage.IsTarget?"Target":"Stage")/@sEv.Series.Slug/@stage.Name?group=@group" class="button">@stage.Name</a>                                                                  
                                      }
                                  }
                                }
                             }
                             @if (ev.Season == 2014)
                             {
                                 if(string.IsNullOrWhiteSpace(group)) {
                                    <a href="~/timeline/@ev.Slug/Penalities/@sEv.Series.Slug" class="button">Пенализации</a>                                  
                                    <a href="~/timeline/@ev.Slug/Retires/@sEv.Series.Slug" class="button">Сходы</a>                                                                   
                                    <a href="~/timeline/@ev.Slug/Comments/@sEv.Series.Slug" class="button">Сообщения</a>                                                                   
                                 } else {
                                    <a href="~/timeline/@ev.Slug/Penalities/@sEv.Series.Slug?group=@group" class="button">Пенализации</a>                                  
                                    <a href="~/timeline/@ev.Slug/Retires/@sEv.Series.Slug?group=@group" class="button">Сходы</a>                                           
                                    <a href="~/timeline/@ev.Slug/Comments/@sEv.Series.Slug?group=@group" class="button">Сообщения</a>                                           
                                 }
                             } else {
                                 if(string.IsNullOrWhiteSpace(group)) {
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Penalities/@sEv.Series.Slug" class="button">Пенализации</a>                                                                  
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Retires/@sEv.Series.Slug" class="button">Сходы</a>                                                                  
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Comments/@sEv.Series.Slug" class="button">Сообщения</a>                                                                  
                                 } else {
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Penalities/@sEv.Series.Slug?group=@group" class="button">Пенализации</a>                                                                  
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Retires/@sEv.Series.Slug?group=@group" class="button">Сходы</a>                                                                  
                                    <a href="~/timeline/@ev.Season/@ev.Slug/Comments/@sEv.Series.Slug?group=@group" class="button">Сообщения</a>                                                                  
                                 }
                             }
                        </p>

                         <p>
                            @if(string.IsNullOrWhiteSpace(group)) {
                                <a class="button">Абсолют</a>                                                                  
                            } else {
                                <a href="~/timeline/@ev.Slug/Target/@sEv.Series.Slug/@ViewBag.Title" class="button secondary">Абсолют</a>
                            }
                            @foreach (var g in groups.Where(g=>g!="Абсолют"))
                            {
                                if(g==group) {
                                    <a class="button secondary">@g</a>                                                                  
                                } else {
                                    <a href="~/timeline/@ev.Slug/Target/@sEv.Series.Slug/@ViewBag.Title?group=@g" class="button ">@g</a>
                                }    
                            }
                        </p>
                        @{ 
                            var timeSortedItems = Model.OrderBy(r => r.StartTime).ToArray();
                            var overalSortedItems = Model.OrderBy(r => r.Result).ToArray();                            
                            TimeSpan overalDiff = new TimeSpan();
                        }              
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="4">Время старта</th>
                                    <th colspan="6">Промежуточный итог</th>
                                </tr>                                
                                <tr>
                                    <th>Время<br />старта.</th>
                                    <th>Ст. №</th>
                                    <th>Экипаж</th>
                                    <th>Зачет</th>                                            
                                                                    
                                    <th>Поз.</th>
                                    <th>Ст. №</th>
                                    <th>Экипаж</th>
                                    <th>Зачет</th>                                            
                                    <th>Результат</th>
                                    <th>Отст.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var iCnt = 0; iCnt < Model.Count(); iCnt++)
                                {
                                    if (iCnt > 0)
                                    {                                        
                                        overalDiff = overalSortedItems[iCnt].Result - overalSortedItems[iCnt - 1].Result;
                                    }
                                    <tr>
                                        <td>@timeSortedItems[iCnt].StartTime.Value.ToString("HH:mm")</td>
                                        <td>@timeSortedItems[iCnt].StartNumber</td>
                                        <td>@timeSortedItems[iCnt].Driver<br />
                                            @timeSortedItems[iCnt].CoDriver
                                        </td>
                                        <td>@timeSortedItems[iCnt].Groups</td>
                                        
                                        <td>@(iCnt+1)</td>
                                        <td>@overalSortedItems[iCnt].StartNumber</td>
                                        <td>@overalSortedItems[iCnt].Driver<br />@overalSortedItems[iCnt].CoDriver</td>
                                        <td>@overalSortedItems[iCnt].Groups</td>                                        
                                        <td>@overalSortedItems[iCnt].Result.ToMinutes()</td>
                                        <td>@overalDiff.ToMinutes()</td>                                            
                                    </tr>
                                }
                            </tbody>
                        </table>                        
                    </div>
               
				</div><!-- large 12 -->
			</div><!-- end row -->
            
		</div><!-- end large 8 -->
