@model Portal.Models.File

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Admin.cshtml";
}
        
<!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="glyphicon-show_thumbnails_with_lines themed-color"></i> Документы<br><small>Изменение документа</small></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <ul class="breadcrumb breadcrumb-top">
                    <li>
                        <a href="/"><i class="glyphicon-display"></i></a> <span class="divider"><i class="icon-angle-right"></i></span>
                    </li>
                    <li>
                        <a href="/controlpanel">Панель управления</a> <span class="divider"><i class="icon-angle-right"></i></span>
                    </li>
                    <li>
                        <a href="/controlpanel/documents">Документы</a> <span class="divider"><i class="icon-angle-right"></i></span>
                    </li>
                    <li><a href="">Изменение документа</a></li>
                </ul>
                <!-- END Breadcrumb -->

                <!-- Horizontal Form Block -->
                <div class="block block-themed">
                    <!-- Horizontal Form Title -->
                    <div class="block-title">
                        <h4></h4>
                    </div>
                    <!-- END Horizontal Form Title -->

                    <!-- Horizontal Form Content -->
                    <div class="block-content">
@using (Html.BeginForm("Edit", "Documents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.FileName);

    <div class="form-horizontal">                
        @Html.ValidationSummary(true)

        <div class="control-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="controls">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="controls">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Hidden, new { @class = "control-label col-md-2" })
            <div class="controls">
                @Html.EditorFor(model => model.Hidden)
                @Html.ValidationMessageFor(model => model.Hidden)
            </div>
        </div>

         <div class="control-group">
            <label class="control-label" for="file">Документ</label>
            <div class="controls">
                <input type="file" id="content" name="content">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="series">Категории</label>
            <div class="controls">
                <select id="general-chosen-multiple" name="tags" class="select-chosen" multiple>
                    @foreach (var tag in (List<Portal.Models.Tag>)ViewBag.Tags)
                    {
                        <option value="@tag.Id" @Html.Raw(Model.Tags.Any(t=>t.Id==tag.Id)? "selected":"")>@tag.Name</option>                        
                    }                     
                </select>                
            </div>
        </div>



        <div class="form-actions">
            <button type="reset" class="btn btn-danger"><i class="icon-repeat"></i> Reset</button>
            <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Submit</button>
        </div>
    </div>
}
</div>
</div>
</div>